@import "tailwindcss";

@layer base {
    body {
        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        /* background-color: #14181B; */
        background-color: #212121;
    }
}